@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (min-width:768px) {
    .table{
        width:100%;
    }
}

.table tr td {
    padding: 15px;
    vertical-align: middle;
    font-weight:normal;
}

@media screen and (max-width:767px) {
    .table tr td {
        padding: 10px;
        vertical-align: middle;
    }
}

.black-bg {
    background-color: #000 !important;
}